<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TripCostsManager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Index
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="itemtypes">
                <span class="bi bi-tags-fill-nav-menu" aria-hidden="true"></span> Item types
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="currencies">
                <span class="bi bi-currency-exchange-nav-menu" aria-hidden="true"></span> Currencies
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="records">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Record
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customgraphs">
                <span class="bi bi-chart-nav-menu" aria-hidden="true"></span> Custom Graphs
            </NavLink>
        </div>
    </nav>
</div>

