<div style="z-index: 1;">
    <button type="button" class="btn btn-default cybr-btn cybr-@Type.ToString().ToLower()" @onclick="@OnClick" data-dismiss="@(ModalDismiss ? "modal" : "")">
        @Label
    </button>
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public Func<Task> OnClick { get; set; }

    [Parameter]
    public bool ModalDismiss { get; set; }

    [Parameter]
    public EButtonType Type { get; set; }
}
